<div class="buttons">
    <div class ="button-row">
        <mat-icon class="icons" (click)="onClickIcon(); onkyoOnOff()" [@iconSizeChange]="iconState" fontIcon="power_settings_new"></mat-icon>
        <button class="srcButton" (click)="onkyoSTRMBOX()">Xfinity</button>
        <button class="srcButton" (click)="onkyoDVD()">DVD</button>
    </div>
    <div class="button-row">
        <mat-icon class="icons" (click)="onClickIcon1(); onkyoUp()" [@iconSizeChange]="icon1State" fontIcon="volume_up"></mat-icon>
        <button class="srcButton" (click)="onkyoPC()" >PC</button>
        <button class="srcButton" (click)="onkyoBluetooth()">Bluetooth</button>
    </div>
    <div class="button-row">
        <mat-icon class="icons" (click)="onClickIcon2(); onkyoDown()" [@iconSizeChange]="icon2State" fontIcon="volume_down"></mat-icon>
        <button class="srcButton" (click)="onkyoAux()">Aux</button>
        <button class="srcButton" (click)="onkyoCBL()">CBL/SAT</button>

    </div>
    <div class="button-row">
        <button class="srcButton" (click)="onkyoGame()">Game</button>
        <button class="srcButton" (click)="onkyoNet()" >Net</button>
        <button class="srcButton" (click)="onkyoCD()" >CD</button>

    </div>
    <div class="button-row">

    </div>
  </div>