<div class="buttons">
    <div class ="button-row">
        <mat-icon class="icons" (click)="onClickIcon(); fireplaceA()" [@iconSizeChange]="iconState" fontIcon="highlight"> </mat-icon>
        <mat-icon class="icons" (click)="onClickIcon1(); fireplaceB()" [@iconSizeChange]="icon1State" fontIcon="tungsten"></mat-icon>
    </div>
    <div class ="button-row">
        <mat-icon class="icons" (click)="onClickIcon2(); fireplaceDimmer()" [@iconSizeChange]="icon2State" fontIcon="brightness_6"></mat-icon>
    </div>
    <div class ="button-row">
        <mat-icon class="icons" (click)="onClickIcon3(); fireplaceHeat()" [@iconSizeChange]="icon3State" fontIcon="microwave"></mat-icon>
        <mat-icon class="icons" (click)="onClickIcon4(); fireplaceOn()" [@iconSizeChange]="icon4State" fontIcon="settings_power"></mat-icon>
        <mat-icon class="icons" (click)="onClickIcon5(); fireplaceSpeed()" [@iconSizeChange]="icon5State" fontIcon="slow_motion_video"></mat-icon>
    </div>   
    <div class ="button-row">
        <mat-icon class="icons" (click)="onClickIcon6(); fireplaceTimer()" [@iconSizeChange]="icon6State" fontIcon="timer"></mat-icon>
    </div>
    
  </div>