html {
    display: flex;
    justify-content: center;
}
button {
    min-width: 48px;
    min-height: 48px;
}

.buttons {
    margin: 20px;
    justify-self: center;
}

.icons {
    color: white;
    min-width: 120px;
    min-height: 120px;
    font-size: 120px;
    

}

.button-row {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.srcButton {
    width: 30%;
    height: 60px;
    border-width: 0;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
}
