.space {
    -wekit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.headingTitle {
    font-family: 'Plaster';
    color: white;
    font-weight: bold;
    font-size: 1.4rem;

}

.buttonIcon {
    background: none;
    margin: 10px;
    border-width: 0;
}

span {
    font-family: 'Plaster';
    color: white;
    font-weight: bold;
    font-size: larger;
}   

.tabs{
    font-family: 'Plaster';
}

button {
    min-width: 48px;
    min-height: 48px;
}

.buttons {
    margin: 20px;
}

.icons {
    color: white;
    min-width: 60px;
    min-height: 60px;
    font-size: 60px;
    

}

.button-row {
    margin-top: 10px;
}

.contents {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}
